.footer {
    background-color: var(--background-accent-color);
    padding: 60px 0;
}

.footer-list {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.footer-list>li:not(:first-child) {
    margin-left: 70px;
}

.address {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--background-main-color);
    margin-top: 20px;
}

.join-title,
.subscribe-title {
    color: var(--background-main-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.join .social-link {
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join .social-link .icon {
    fill: var(--background-main-color);
}

.join .social-link:hover,
.join .social-link:focus {
    background-color: var(--accent-color);
}

.subscribe-form {
    display: flex;
    flex-direction: column;
}

.subscribe-input {
    width: 358px;
    height: 50px;
    background-color: var(--background-accent-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 15px 16px;
    color: var(--background-main-color);
}

.subscribe-input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-family: inherit;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 29px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--background-main-color);
    margin-left: 12px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #188CE8;
}

.subscribe-icon {
    width: 24px;
    height: 24px;
    fill: var(--background-main-color);
    margin-left: 10px;
}