.social-list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.social-list__item:not(:last-child) {
    margin-right: 10px;
}

.social-list__link {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--background-main-color);

    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.social-list__icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);

    .social-list__link:hover &,
    .social-list__link:focus & {
        fill: var(--background-main-color);
    }
}